@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');
@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
    font-family: 'PT Sans Caption';
    
}

body {
    background-color: #EEEEEE;
    height: auto;
    margin: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 95vh;
    box-shadow: 5px 5px 50px 1px #e0e0e0;
}

.book {    
    border-color: #0079D2;
    background-color: #EDF7FF;
    color: #3a3a3a;
    border-style: solid;
    border-width: 1px;
    padding: 14px;
    border-radius: 15px;
    margin: 5px;
    display: grid;
    grid-template-columns: 84% 15% 1%;
    width: 600px;
}

.controls {    
    background-color: #EEEEEE;
    padding: 14px;    
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-form {
    display: none;    
}

form {
    font-family: 'Roboto';
    display: flex;
    justify-content: space-around;
}

input[name="title"], input[name="author"], input[name="comments"], input[name="pages"] {
    margin: 20px;
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

 {
   /* max-width: 60px;
  }

