/*.book {
    background-color: rgb(211, 211, 211);
    width: 600px;
    padding: 14px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    margin: 5px;
    font-family: chevin;
}
*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

:root {
    font-family: 'PT Sans Caption';
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

.book {    
    background-color: rgb(211, 211, 211);
    padding: 14px;
    border-radius: 15px;
    margin: 5px;
    display: grid;
    grid-template-columns: 84% 15% 1%;
    width: 600px;
}

.controls {    
    /*background-color: rgb(211, 211, 211);*/
    padding: 14px;
    border-radius: 15px;
    margin: 5px;
    display: grid;
    max-width: 800px;
}

.add-form {
    display: none;    
}

form {
    display: flex;
    grid-template-columns: 18% 18% 10% 20% 20% 9%;

}

.pages {
    max-width: 60px;
  }

input[name="title"], input[name="author"], input[name="comments"],  {
    margin: 20px;
}

input[name="pages"] {
    max-width: 60px;
  }

